.home-content {
    text-align: center;
    padding: 20px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
}

.event-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.video-background video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}
