.my-invitations-container {
    /*display: grid !important;*/
    /*grid-template-columns: repeat(4, 1fr) !important;*/
    gap: 20px !important;
    padding: 20px !important;
    /*justify-items: start !important; !* Align items to the start *!*/
    align-items: start !important; /* Align items to the top */
    box-sizing: border-box !important;
    display: flex;
    justify-content: flex-start !important;
}

.event-card {
    background: #fff !important;
    padding: 20px !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    box-sizing: border-box !important;
}

.event-header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 10px !important;
}

.event-status {
    padding: 5px 10px !important;
    border-radius: 5px !important;
    color: #fff !important;
    box-sizing: border-box !important;
}

.event-status.ACCEPTED {
    background-color: #4caf50 !important;
}

.event-status.DECLINED {
    background-color: #f44336 !important;
}

.event-status.PENDING {
    background-color: #ff9800 !important;
}

.no-events-card {
    grid-column: span 4 !important;
    background: #fff !important;
    padding: 20px !important;
    border-radius: 10px !important;
    text-align: center !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #32ab26;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.accordion-content {
    padding: 10px;
    border-left: 2px solid #32ab26;
    border-right: 2px solid #32ab26;
    border-bottom: 2px solid #32ab26;
    border-radius: 0 0 5px 5px;
    background-color: white;
    color: black;
    transition: max-height 0.3s ease;
}

.sub-events h4 {
    margin-bottom: 5px;
}

.sub-event {
    margin-bottom: 10px;
}

/* Responsive layout for mobile */
@media (max-width: 960px) {
    .events-container {
        /*grid-template-columns: 1fr !important; !* Stack items in one column *!*/
        /*justify-items: stretch !important; !* Ensure items take full width *!*/
        flex-direction: column;
        justify-content: flex-start;
    }

    .event-card {
        width: 100% !important; /* Ensure cards take full width on mobile */
    }

    .no-events-card {
        grid-column: span 1 !important; /* Adjust to stack with others */
    }
}
