.events-container {
  width: 100vw;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.events h2 {
  text-align: center;
  margin: 20px 0;
}

.event-form {
  background-color: white;
  width: 90vw;
  box-shadow: 0px 0px ;
  border-radius: 10px;
  padding: 10px;
}

.event-form_top,
.event-form_middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.event-form_top input,
.event-form_middle textarea {
  display: flex;
  width: 100%;
}
.event-form_top input:focus,
.event-form_middle textarea:focus {
  border: 1px solid #b2ffa0;
}
input {
  margin-bottom: 10px;
  width: 100%;
}
input:focus {
  border-color: #b2ffa0 !important;
}
/*  */

h3 {
  text-align: center;
  margin: 20px 0 !important;
}

select {
  margin-bottom: 30px;
}

.guests-container {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 20px;
}

.guest-item {
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 3px 3px gainsboro;
  border-radius: 10px;
  padding: 10px;
}

.remove-button {
  background-color: red;
  color: white;
  display: flex;
  margin: 0 auto;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
}
.add-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 20px;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #32ab26;
}
.create-event {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #32ab26;
}
@media screen and (max-width: 960px) {
  .event-form_middle,
  .event-form_top {
    flex-direction: column;
  }
  .event-form_middle textarea,
  .event-form_top input {
    width: 300px !important;
  }
}
